/* Base Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '2P', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: '2P';
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #14161A;
    color: #333;
}
