/* Section Contacts */
.contact {
    background: linear-gradient(180deg, rgba(255, 99, 132, 0.208) 0%, rgba(255, 99, 132, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 0; 
    height: 100vh; // Ensure same height as other sections
}

    .contact-container {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        padding: 0;  
    }

    .header-box {
        background-color: rgba(255, 99, 132, 0.208); 
        border-radius: 10px; 
        padding: 20px; 
        margin: auto;
        text-align: center; 
        max-width: 800px; 
        width: 90%; 
        box-shadow: 0 0 10px rgba(255, 99, 132, 0.5); 
        border: 2px solid rgba(255, 99, 132, 1); 
        color: white; 
        font-size: 20px;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; // Imposta direzione orizzontale
        margin: auto;
        width: 90%;
    
        .social-icon {
            background-color: rgba(38, 14, 19, 0.026);
            border-radius: 10px;
            padding: 20px;
            transition: transform 0.3s;
            margin: 10px;
            width: 120px;
            height: 135px;
            text-align: center;
            box-shadow: 0 0 10px rgba(255, 99, 132, 0.5);
            border: 2px solid rgba(255, 99, 132, 1);
    
            p {
                color: #fff;
                margin-top: 8px;
            }
    
            a {
                text-decoration: none;
                color: #fff;
            }
    
            &:hover {
                transform: scale(1.1);
            }
    
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    
    @media (max-width: 768px) {
        .social-links {
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
    
        .social-icon {
            width: auto; 
            height: auto;
            margin: 10px;
        }
        .social-icon:last-child {
            margin-bottom: 100px;
    }
    
    @media (max-width: 480px) {

        .social-links {
            flex-direction: column; 
        }
    
        .social-icon img {
            width: 40px;
            height: 40px;
        }
    
        .social-icon {
            padding: 15px;
        }
    }
}