/* Import Bootstrap */
@import '~bootstrap/scss/bootstrap';

/* Stile di base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '2P', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: '2P';
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #14161A;
    color: #333;
}

/* Sezione Hero */
.hero {
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #14161A;
    background-image: url('/2825810.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;

    h1, p {
        color: #fff;
        font-family: '2P', sans-serif;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 30px;
    }
}

/* Contenuto Hero */
.hero-content {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    padding: 50px;
    border-radius: 10px;
    margin: -450px auto 0; 
    max-width: 600px;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.5), 
                0 0 20px rgba(255, 152, 0, 0.7), 
                0 0 30px rgba(255, 152, 0, 1);
}

.nav-blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 185px 0 0;
    justify-content: center;
    margin-top: -450px;

    .nav-item {
        position: relative;
        background-color: #000000ca;
        padding: 20px;
        width: 300px;
        margin-bottom: 200px;
        text-align: center;
        border-radius: 8px;
        border: 2px solid transparent;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:nth-child(1) {
            border: 2px solid rgba(76, 175, 80, 1);
            box-shadow: 0 0 10px rgba(76, 175, 80, 0.5), 
                        0 0 20px rgba(76, 175, 80, 0.7), 
                        0 0 30px rgba(76, 175, 80, 1);
        }

        &:nth-child(2) {
            border: 2px solid rgba(255, 193, 7, 1);
            box-shadow: 0 0 10px rgba(255, 152, 0, 0.5), 
                        0 0 20px rgba(255, 152, 0, 0.7), 
                        0 0 30px rgba(255, 152, 0, 1);
        }

        &:nth-child(3) {
            border: 2px solid rgba(255, 99, 132, 1);
            box-shadow: 0 0 10px rgba(255, 99, 132, 0.5), 
                        0 0 20px rgba(255, 99, 132, 0.7), 
                        0 0 30px rgba(255, 99, 132, 1);
        }

        &:hover {
            transform: translateY(-5px);
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            position: relative;
        }
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-content {
        padding: 20px;
        max-width: 90%;
        margin-bottom: 10px; 
    }

    .nav-blocks {
        flex-direction: column;
        gap: 10px;
        margin-top: -450px;
        align-items: center;
        padding: 0;

        .nav-item {
            padding: 10px 15px;
            font-size: 0.9rem;
            min-width: 80px;
            max-width: 200px;
            margin-bottom: 20px;
        }
    }
}

/* Sezione About */
.about {
    margin-top: -8px;
    background: linear-gradient(180deg, rgba(0, 201, 80, 0.208) 0%, rgba(0, 201, 81, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 50px;
    height: 100vh;

    .about-title-box,
    .about-content-box {
        background-color: rgba(1, 37, 16, 0.236);
        padding: 20px;
        border-radius: 10px;
        border: 2px solid rgba(0, 201, 80, 0.5);
        box-shadow: 0 0 10px rgba(0, 201, 80, 0.5),
                    0 0 20px rgba(0, 201, 80, 0.7),
                    0 0 30px rgba(0, 201, 80, 0.191);
        margin: 20px auto;
        max-width: 900px;
        width: 90%;

        &:first-of-type {
            margin-top: 130px;
            font-size: 20px;
        }

        &:last-of-type {
            margin-top: 10px;
            font-size: 25px;
        }
    }

    .about-button {
        @extend .btn; 
        display: inline-block;
        padding: 15px 30px;
        background-color: rgba(2, 111, 45, 0.422);
        color: #fff;
        border: 2px solid rgba(0, 128, 0, 0.781);
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        font-size: 20px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            background-color: rgba(0, 201, 80, 1);
            box-shadow: 0 0 10px rgba(0, 201, 80, 0.5),
                        0 0 20px rgba(0, 201, 80, 0.7),
                        0 0 30px rgba(0, 201, 80, 1);
        }
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 215px;
        margin-bottom: 100px;

        .about-title-box,
        .about-content-box {
            font-size: 18px;
            padding: 15px;
            width: 95%;
        }

        .about-button {
            font-size: 18px; 
            padding: 12px 25px;
        }
    }
}

@media (max-width: 480px) {
    .about-title-box,
    .about-content-box {
        font-size: 16px; 
        padding: 10px; 
    }

    .about-button {
        font-size: 16px; 
        padding: 10px 20px; 
    }
}


/* Sezione Skills */
.skills {
    background: linear-gradient(180deg, rgba(255, 193, 7, 0.208) 0%, rgba(255, 193, 7, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 0;
    height: auto; /* Cambiato per permettere un'altezza flessibile */

    .skills-header-box {
        background-color: rgba(255, 193, 7, 0.208);
        border-radius: 10px;
        padding: 20px;
        margin: 30px auto; /* Modificato per un margine più contenuto */
        text-align: center;
        width: 90%; /* Larghezza responsiva */
        max-width: 400px; /* Limitato per evitare che diventi troppo largo */
        box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
        border: 2px solid rgba(255, 193, 7, 1);
        color: white;
        font-size: 30px;
    }

    .skills-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .skill-box {
            background-color: rgba(255, 193, 7, 0.2);
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            width: 100%; /* Impostato a 100% per adattarsi al contenitore */
            max-width: 300px; /* Mantiene un limite massimo */
            box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
            border: 2px solid rgba(255, 193, 7, 1); /* Effetto bordo neon */
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            img {
                max-width: 70%; /* Dimensione dell'immagine proporzionale */
                height: auto; 
                margin: 0 auto; 
                display: block; 
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 20px rgba(255, 193, 7, 0.7);
            }
        }
    }

    /* Media Query per dispositivi mobili */
    @media (max-width: 768px) {
        .skills-container {
            .skill-box {
                width: 90%; /* Maggiore larghezza responsiva per mobile */
                margin: 10px auto; /* Centra la skill-box */
            }

            img {
                max-width: 50%; /* Dimensione delle immagini su dispositivi più piccoli */
            }
        }
    }

    @media (max-width: 480px) {
        .skills-header-box {
            width: 90%; /* Maggiore larghezza per header box su schermi piccoli */
        }

        .skills-container {
            .skill-box {
                width: 95%; /* Ancora più larga su schermi molto piccoli */
                margin: 10px auto; /* Centra la skill-box */
            }

            img {
                max-width: 60%; /* Immagini più piccole per schermi molto piccoli */
            }
        }
    }
}

/* Sezione Contatti */
.contact {
    background: linear-gradient(180deg, rgba(255, 99, 132, 0.208) 0%, rgba(255, 99, 132, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 0; 
    height: 100vh;

    .contact-container {
        @extend .d-flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        padding: 0;  
    }

    .header-box {
        background-color: rgba(255, 99, 132, 0.208); 
        border-radius: 10px; 
        padding: 20px; 
        margin-bottom: 20px; 
        margin-top: 200px;
        text-align: center; 
        max-width: 800px; 
        width: 90%; 
        box-shadow: 0 0 10px rgba(255, 99, 132, 0.5); 
        border: 2px solid rgba(255, 99, 132, 1); 
        color: white; 
        font-size: 20px;
    }

    .social-links {
        @extend .d-flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap; 
        margin-top: 15px; 
        width: 90%; 

        .social-icon {
            background-color: rgba(38, 14, 19, 0.026); 
            border-radius: 10px; 
            padding: 20px; 
            transition: transform 0.3s; 
            margin: 10px;
            width: 120px; 
            height: 135px;
            text-align: center; 
            box-shadow: 0 0 10px rgba(255, 99, 132, 0.5); 
            border: 2px solid rgba(255, 99, 132, 1); 

            p {
                color: #fff;
                margin-top: 8px;
            }

            a {
                text-decoration: none; 
                color: #fff; 
            }

            &:hover {
                transform: scale(1.1); 
            }

            img {
                width: 50px; 
                height: 50px; 
            }
        }
    }
}


@media (max-width: 768px) {
    .contact {
        .header-box {
            width: 95%;
            padding: 20px;
            font-size: 18px;
            margin-top: 15px; 
        }

        .social-links {
            flex-direction: column;
            gap: 10px;
            align-items: center;
            margin-bottom: 80px;
        }

        .social-icon {
            width: 80%; 
            height: 30%;
            margin: 10px 0; 
        }   
    }
}

@media (max-width: 480px) {
    .contact {
        .header-box {
            font-size: 16px;
            margin-top: 20px; 
        }

        .social-icon img {
            width: 40px; 
            height: 40px;
        }

        .social-icon {
            padding: 15px;
        }
    }
}



.sticky-menu {
    display: none;
    position: fixed; 
    bottom: 0px;
    width: 100%;
    background-color: #000000ca;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    border: 2px solid rgba(255, 193, 7, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);


    a {
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 1.2rem;
    }
}


@media (max-width: 768px) {
    .sticky-menu {
        display: flex;
        justify-content: space-around;
    }
}