/* Stile di base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '2P', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


@font-face {
    font-family: '2P';
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #14161A;
    color: #333;
}

/* Sezione Hero */
.hero {
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #14161A;
    background-image: url('/2825810.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}

.hero h1, .hero p {
    color: #fff;
    font-family: '2P', sans-serif;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 30px;
}

/* Contenuto Hero */
.hero-content {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    padding: 50px;
    border-radius: 10px;
    margin: -450px auto 0; 
    max-width: 600px;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.5), 
                0 0 20px rgba(255, 152, 0, 0.7), 
                0 0 30px rgba(255, 152, 0, 1);
}

.nav-blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 185px 0 0;
    justify-content: center;
    margin-top: -450px;
}

.nav-item {
    position: relative;
    background-color: #000000ca;
    padding: 20px;
    width: 300px;
    margin-bottom: 200px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto neon */
.nav-item:nth-child(1) {
    border: 2px solid rgba(76, 175, 80, 1);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5), 
                0 0 20px rgba(76, 175, 80, 0.7), 
                0 0 30px rgba(76, 175, 80, 1);
}

.nav-item:nth-child(2) {
    border: 2px solid rgba(54, 162, 235, 1);
    box-shadow: 0 0 10px rgba(54, 162, 235, 0.5), 
                0 0 20px rgba(54, 162, 235, 0.7), 
                0 0 30px rgba(54, 162, 235, 1);
}

.nav-item:nth-child(3) {
    border: 2px solid rgba(255, 99, 132, 1);
    box-shadow: 0 0 10px rgba(255, 99, 132, 0.5), 
                0 0 20px rgba(255, 99, 132, 0.7), 
                0 0 30px rgba(255, 99, 132, 1);
}

.nav-item:hover {
    transform: translateY(-5px);
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: relative;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-content {
        padding: 20px;
        max-width: 90%;
        margin-bottom: 10px; /* Riduce lo spazio tra Hero e Nav */
    }

    .nav-blocks {
        flex-direction: column;
        gap: 10px;
        margin-top: -450px; /* Sposta i nav-blocks verso l'alto */
        align-items: center;
        padding: 0;
    }

    .nav-item {
        padding: 10px 15px;
        font-size: 0.9rem;
        min-width: 80px;
        max-width: 200px;
        margin-bottom: 20px;
    }
}

/* Sezione About */
.about {
    margin-top: 0px;
    background: linear-gradient(180deg, rgba(0, 201, 80, 0.208) 0%, rgba(0, 201, 81, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    height: 100vh;
}

.about-title-box {
    background-color: rgba(1, 37, 16, 0.236);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 201, 80, 0.5);
    box-shadow: 0 0 10px rgba(0, 201, 80, 0.5),
                0 0 20px rgba(0, 201, 80, 0.7),
                0 0 30px rgba(0, 201, 80, 0.191);
    margin: 130px auto;
    max-width: 900px;
    width: 90%;
    font-size: 20px;
}

.about-content-box {
    background-color: rgba(1, 37, 16, 0.236);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 201, 80, 0.5);
    box-shadow: 0 0 10px rgba(0, 201, 80, 0.5),
                0 0 20px rgba(0, 201, 80, 0.7),
                0 0 30px rgba(0, 201, 80, 0.191);
    margin: 20px auto;
    margin-top: -80px;
    max-width: 900px;
    width: 90%;
    font-size: 25px;
}

.about-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(2, 111, 45, 0.422);
    color: #fff;
    border: 2px solid rgba(0, 128, 0, 0.781);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.about-button:hover {
    background-color: rgba(0, 201, 80, 1);
    box-shadow: 0 0 10px rgba(0, 201, 80, 0.5),
                0 0 20px rgba(0, 201, 80, 0.7),
                0 0 30px rgba(0, 201, 80, 1);
}

@media (max-width: 768px) {
    .about{
        margin-top: 228px;
    }
    .about-title-box, .about-content-box {
        font-size: 18px;
        padding: 15px;
        width: 95%;
    }

    .about-button {
        font-size: 18px; 
        padding: 12px 25px;
    }
}

@media (max-width: 480px) {
    .about-title-box, .about-content-box {
        font-size: 16px; 
        padding: 10px; 
    }

    .about-button {
        font-size: 16px; 
        padding: 10px 20px; 
    }
}

/* Sezione Progetti */
.projects {
    background: linear-gradient(180deg, rgba(54, 162, 235, 0.208) 0%, rgba(54, 162, 235, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 0;
    height: 100vh;
}

.project-header-box {
    background-color: rgba(54, 162, 235, 0.208); 
    border-radius: 10px;
    padding: 20px;
    margin: 130px auto 40px; 
    text-align: center;
    width: 400px;
    box-shadow: 0 0 10px rgba(54, 162, 235, 0.5);
    border: 2px solid rgba(54, 162, 235, 1);
    color: white;
    font-size: 30px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-box {
    background-color: rgba(54, 162, 235, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(54, 162, 235, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(54, 162, 235, 0.7);
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    .projects {
        padding: 20px 0; /* Riduce padding per dispositivi mobili */
    }

    .project-header-box {
        margin: 20px auto;
        font-size: 25px;
        box-shadow: 0 0 10px rgba(54, 162, 235, 0.5);
        border: 2px solid rgba(54, 162, 235, 1);
        margin-top: 25px;
    }

    .projects-container {
        flex-direction: column; /* Dispone i box in colonna */
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }

    .project-box {
        padding: 15px;
        margin: 5px 0;
        width: 90%;
        max-width: 100%;
        box-shadow: 0 0 10px rgba(54, 162, 235, 0.5); /* Effetto glow per mobile */
        border: 2px solid rgba(54, 162, 235, 1); /* Effetto bordo neon */
    }
}





/* Sezione Contatti */
.contact {
    background: linear-gradient(180deg, rgba(255, 99, 132, 0.208) 0%, rgba(255, 99, 132, 0) 40%);
    text-align: center;
    color: #fff;
    padding: 40px 0; 
    height: 100vh;
}

.contact-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 0;  
}

.header-box {
    background-color: rgba(255, 99, 132, 0.208); 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
    margin-top: 200px;
    text-align: center; 
    max-width: 800px; 
    width: 90%; 
    box-shadow: 0 0 10px rgba(255, 99, 132, 0.5); 
    border: 2px solid rgba(255, 99, 132, 1); 
    color: white; 
    font-size: 20px;
}

.social-links {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 15px; 
    width: 90%; 
}

.social-icon {
    background-color: rgba(38, 14, 19, 0.026); 
    border-radius: 10px; 
    padding: 20px; 
    transition: transform 0.3s; 
    margin: 10px;
    width: 120px; 
    height: 135px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(255, 99, 132, 0.5); 
    border: 2px solid rgba(255, 99, 132, 1); 
}

.social-icon p {
    color: #fff;
    margin-top: 8px;
}

.social-icon a {
    text-decoration: none; 
    color: #fff; 
}

.social-icon:hover {
    transform: scale(1.1); 
}

.social-icon img {
    width: 50px; 
    height: 50px; 
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
    .header-box {
        width: 95%;
        padding: 20px;
        font-size: 18px;
        margin-top: 20px; 
    }

    .social-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .social-icon {
        width: 80%; 
        height: 30%;
        margin: 10px 0; 
    }
}

@media (max-width: 480px) {
    .header-box {
        font-size: 16px;
        margin-top: 20px; 
    }

    .social-icon img {
        width: 40px; 
        height: 40px;
    }

    .social-icon {
        padding: 15px;
    }
}